@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Desktop */ 
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 3rem;
    width: 55.625rem;
}

.group .image {
    background-color: #dbdbdb;
    width: 22.623rem;
    height: 21.875rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group .content {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 1.5rem;
}

.group .content h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.75rem;
    color: #1c1c1c ;
}

.group .content p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    color: #585757;
    max-width: 25rem;
}

.group .content button {
    background-color: #24afb5;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.625rem;
    padding: 11px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.partners {
    display: flex;
    flex-direction: column;
    width: 55.625rem;
    margin-bottom: 5rem;
}

.partners h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 0.875rem;
    color: #969696;
    margin-top: 3rem;
}

.partners .partner-images {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
}

.partners .partner-images img {
    height: 1.25rem;
}

/* Mobile portrait */
@media only screen 
and (min-width: 300px) 
and (max-width: 956px)
and (orientation: portrait) {

    body {
        padding: 1rem;
        box-sizing: border-box;
    }

    .group {
        flex-direction: column;
        align-items: unset;
        justify-content: center;
        margin-top: 5rem;
        gap: 3rem;
        width: 100%;
    }

    .group .image {
        width: 100%;
    }

    .group .content {
        max-width: 100%;
    }

    .group .content h1 {
        font-size: 2.25rem;
        line-height: 2.875rem;
    }

    .partners {
        width: 100%;
    }

    .partners .partner-images {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}


/* Mobile landscpe */
@media only screen 
and (min-width: 568px) 
and (max-width: 1000px)
and (orientation: landscape) {
    .group {
        flex-direction: column;
        align-items: flex-start;
    }

    .group .image {
        width: 100%;
    }

    .partners .partner-images {
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 40%;
    }
}